.Bio {
  margin-bottom: 2rem;

  &__image {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 5px;
  }
}
