@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.masonry {
  column-count: 1; 
}

/* Responsive column counts */
@media (min-width: 640px) {
  .sm\:columns-2 { column-count: 2; }
}

@media (min-width: 1024px) {
  .lg\:columns-3 { column-count: 3; }  
}
@media (min-width: 1280px) {
  .xl\:columns-4 { column-count: 4; }  
}
@media (min-width: 1536px) {
  .\32xl\:columns-5 { column-count: 5; }  
}

/* Gap between columns */
.column-gap-6 {
  column-gap: 1.5rem;  
}

@media (max-width: 370px) {
  .overflow-avoid {
    padding-top: 20px;
  }
}

@media (max-width: 340px) {
  .overflow-avoid {
    padding-top: 10px;
  }
}

@media (max-width: 325px) {
  .overflow-avoid {
    padding-top: 5px;
  }

  .text-overflow-avoid {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
}