.BlogPost {
  &__image-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    padding: 1rem 0 !important;
  }

  &__breadcrumb {
    padding: 2rem 0 1rem !important;
  }
}

.BlogPost img {
  object-fit: contain;
  height: auto;
}

.BlogPost li {
  margin-bottom: 1rem !important;
}

.BlogPost code {
  padding: 0 0.2rem !important;
}

.BlogPost section {
  padding: 2rem 0 !important;
}
