//
//
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

.video-preview {
  border-radius: 5px;
  width: 100%;
}

.navbar-links-container {
  padding: 1rem 1.5rem;
}

html {
  scroll-behavior: smooth;
}

.contentWithBG {
  z-index: 2;
  min-height: 100vh;
}

.navbar {
  padding: 0.5rem 1rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#privacyPolicy p {
  text-align: justify !important;
}

#privacyPolicy ol,
#privacyPolicy li {
  text-align: left !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-logo-img {
  margin-right: 5px;
}

.command-container {
  display: flex;
  align-items: center;
  .command-code {
    width: 91%;
    overflow-y: auto;
    margin-right: 0.5em;
    pre {
      font-size: 87.5%;
      color: #f3f1f2;
      margin-bottom: 0;
      height: 3em;
      line-height: 3em;
      padding: 0 8px;
      background-color: #352d2f;
      font-weight: 700;
      border-radius: 4px;
      text-align: left;
      border: 1px solid;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .copy-btn {
    .copy-icon {
      color: #352d2f;
      cursor: pointer;
      &:hover {
        color: #fd2d55;
      }
    }
  }
}
