//
//
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

.video-preview {
  border-radius: 5px;
  width: 100%;
}

.navbar-links-container {
  padding: 1rem 1.5rem;
}

html {
  scroll-behavior: smooth;
}

.contentWithBG {
  z-index: 2;
  min-height: 100vh;
}

.navbar {
  padding: 0.5rem 1rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#privacyPolicy p {
  text-align: justify !important;
}

#privacyPolicy ol,
#privacyPolicy li {
  text-align: left !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-logo-img {
  margin-right: 5px;
}

.command-container {
  display: flex;
  align-items: center;
  .command-code {
    width: calc(100% - 2.5% - 30px);
    margin-right: 2.5%;
    pre {
      font-size: 87.5%;
      color: #f3f1f2;
      margin-bottom: 0;
      height: 3em;
      line-height: 3em;
      padding: 0 8px;
      background-color: #352d2f;
      font-weight: 700;
      border-radius: 4px;
      text-align: left;
      border: 1px solid;
      overflow-y: hidden;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .copy-btn {
    .copy-icon {
      color: #352d2f;
      cursor: pointer;
      &:hover {
        color: #fd2d55;
      }
    }
  }
}

#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.5);
}

#carbonads a {
  color: #ddd;
  text-decoration: none;
}

#carbonads a:hover {
  color: #ddd;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  padding: 10px;
  text-align: left;
  font-size: 13px;
  margin-bottom: 16px;
  line-height: 1.5;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #1e2021;
  color: #aaa;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 6px;
}
